// global style include file
// created by Leonard Pauli, 11 mar 2019

@import './lib'
@import './fontfaces'


// responsiveness

// text colors

$text_color = black

// bg colors

$base_bg = hsl(0,0%,97%)
